In [9]:
DATA =  '..\..\Desktop\Carnegie'
# import sklearn

In [7]:
import pandas as pd
columns = ['name', 'serd','nonserd','pdnfrstaff','facnum','socsc_rsd','hum_rsd','stem_rsd','oth_rsd']


data2021 = pd.read_excel(DATA+'\\CCIHE2021-PublicData.xlsx', sheet_name='Data',engine='openpyxl', usecols=columns)
# data2018 = pd.read_excel(DATA+'\CCIHE2018-PublicDataFile_Rank_Applied.xlsx', sheet_name='Data',engine='openpyxl')
print(data2021.columns)
data2021.head()

Index(['name', 'serd', 'nonserd', 'pdnfrstaff', 'facnum', 'socsc_rsd',
       'hum_rsd', 'stem_rsd', 'oth_rsd'],
      dtype='object')

,name,serd,nonserd,pdnfrstaff,facnum,socsc_rsd,hum_rsd,stem_rsd,oth_rsd
0,A T Still University of Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AI Miami International University of Art and D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AOMA Graduate School of Integrative Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASA College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATA Career Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data2021 = data2021[(data2021['serd'] > 0) & (data2021['nonserd'] > 0)]
data2021.fillna(value=0, inplace=True)
data2021.shape

(267, 9)

In [12]:
data2021.head()

,name,serd,nonserd,pdnfrstaff,facnum,socsc_rsd,hum_rsd,stem_rsd,oth_rsd
108,American University,37505.0,34334.0,2.0,506.0,24.0,10.0,6.0,21.0
149,Arizona State University Campus Immersion,517586.0,68234.0,468.0,2263.0,55.0,96.0,305.0,200.0
150,Arizona State University Digital Immersion,77341.0,10196.0,70.0,553.0,0.0,0.0,0.0,99.0
155,Arkansas State University,8637.0,3.0,2.0,397.0,0.0,5.0,4.0,16.0
190,Auburn University,221503.0,33778.0,120.0,1169.0,4.0,7.0,165.0,93.0

In [13]:
data2021[data2021['name']=='University of North Texas']

,name,serd,nonserd,pdnfrstaff,facnum,socsc_rsd,hum_rsd,stem_rsd,oth_rsd
3517,University of North Texas,57764.0,26475.0,66.0,788.0,29.0,75.0,78.0,130.0

In [16]:
per_cap_serd = data2021['serd']/data2021['facnum']
per_cap_non_serd = data2021['nonserd']/data2021['facnum']
per_cap_staff = data2021['pdnfrstaff']/data2021['facnum']


per_cap_serd_rank     = per_cap_serd.rank()
per_cap_non_serd_rank = per_cap_non_serd.rank()
per_cap_staff_rank    = per_cap_staff.rank()

serd_rank      = data2021['serd'].rank()
non_serd_rank  = data2021['nonserd'].rank()
staff_rank     = data2021['pdnfrstaff'].rank()
hum_rsd_rank   = data2021['hum_rsd'].rank()
sosc_rsd_rank  = data2021['socsc_rsd'].rank()
stem_rsd_rank  = data2021['stem_rsd'].rank()
other_rsd_rank = data2021['oth_rsd'].rank()

S&ER&D, NONS&ER&D, PDNFRSTAFF, FACNUM (used for per capita index calculation),
HUM_RSD, SOCSC_RSD, STEM_RSD, OTHER_RSD

In [17]:
pd.Series([10, 8, 8, 4, 4, 4, 2]).rank()

0    7.0
1    5.5
2    5.5
3    3.0
4    3.0
5    3.0
6    1.0
dtype: float64

In [18]:
RankDF_cap  = pd.DataFrame({
        'per_cap_serd'     : per_cap_serd_rank, 
        'per_cap_non_serd' : per_cap_non_serd_rank,
        'per_cap_staff'    : per_cap_staff_rank})
RankDF_agg = pd.DataFrame({
        'serd'             : serd_rank,
        'non_serd'         : non_serd_rank,
        'staff'            : staff_rank,
        'hum_rsd'          : hum_rsd_rank,
        'sosc_rsd'         : sosc_rsd_rank,
        'stem_rsd'         : stem_rsd_rank,
        'other_rsd'        : other_rsd_rank})

In [19]:
from sklearn.decomposition import PCA
from  sklearn.preprocessing import StandardScaler
import numpy as np

scaler = StandardScaler()

In [20]:

print('Per Capita PCA Loading')
X = scaler.fit_transform(RankDF_cap)
pca = PCA( n_components=0.7, svd_solver='full')
pca.fit(X)

loadings = pca.components_.T * np.sqrt(pca.explained_variance_)
loadings_matrix = pd.DataFrame(loadings, columns=['PC1'], index=RankDF_cap.columns)

loadings_matrix

Per Capita PCA Loading

                       PC1
per_cap_serd      0.935248
per_cap_non_serd  0.620278
per_cap_staff     0.940596

In [21]:
print('Aggregate PCA Loading')

X = scaler.fit_transform(RankDF_agg)
pca = PCA(n_components=0.7, svd_solver = 'full')
pca.fit(X)
loadings = pca.components_.T * np.sqrt(pca.explained_variance_)
loadings_matrix = pd.DataFrame(loadings, columns=['PC1'], index=RankDF_agg.columns)

loadings_matrix

Aggregate PCA Loading

                PC1
serd       0.904910
non_serd   0.806563
staff      0.907112
hum_rsd    0.840432
sosc_rsd   0.879330
stem_rsd   0.918868
other_rsd  0.598058

In [ ]:
data2021.drop(data2021[name]=='')